<div class="main_right_cont_bg">
<div class="container-fluid white_rbg_clr">
    <h2 class="main_page_heading">List of Ed</h2> </div>
<div class="container-fluid custom_padd_main">
     
<a href="#/dashboard/ed/add-ed" class="btn btn-default adtolocation_btn crtnew_evnt_btn" style="float:left">Add Ed</a>


<div id="login-alert" class="alert alert-danger col-sm-12" style="text-align:center; margin-top: 5px;" ng-if="errorMessage">{{errorMessage}}</div>

<div id="login-alert" class="alert alert-success col-sm-12"style="text-align:center; margin-top: 5px;" ng-if="successMessage">{{successMessage}} </div>

<div class="volunteer_status_name">  

<div class="volunteer_searh_top">
                <div class="input-group">
                    <input type="text" class="form-control" ng-model="searchByName" placeholder="Search by name" />
                    <span class="input-group-btn">
                        <button class="btn btn-info" type="button">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
                </div>
  </div>

  </div>        

    </div>
    
    <div class="table_div_content">
      <table class="table table-striped table_first_style list_of_donation_tbl">
                <thead>
                  <tr>
                    <th>Ed Name</th>
                    <th>Ed Address</th>
                    <th>Added By</th>
                    <th>User Contact No</th>
                    <th>User Email Id</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody >
                  <tr dir-paginate="lists in allEd| itemsPerPage:itemsPerPage " id="{{lists.edId}}" class="ng-scope" >
                    <!-- <td>{{lists.productsId}}</td> -->
                    <td>{{lists.ed_name}}</td>
                    <td>{{lists.ed_address}}</td>
                    <td>{{lists.username}}</td>
                    <td>{{lists.user_contact_no}}</td>
                    <td>{{lists.user_email_id}}</td>
                    <td><a confirm="Are you sure you want to delete this ed?" ng-click ="deleteEd(lists.edId,$index);" href="javascript:void(0);" class="eye_img_tbl">delete</a>
                    <a href="#/dashboard/ed/update-ed/{{lists.edId}}" class="eye_img_tbl">update</a>
                    </td>
                  </tr>
                  <tr ng-if="allEd.length==0">
                   <td align="center" colspan="7" style ="color:red"><b>No record found.</b></td>
                  </tr>          
                </tbody>
              </table>
<!--               <dir-pagination-controls></dir-pagination-controls>
 -->
              <div class="row pagination-footer text-center">
            <dir-pagination-controls direction-links="true" boundary-links="true" on-page-change="getAllProducts(newPageNumber, order_by, order=='asc' ? 'asc' : 'desc')" >
            </dir-pagination-controls>
        </div>
    </div>

    </div>

  <script type="text/javascript">
  $(function(){
   $('#collapseOne').collapse('hide');

  });
  </script>